.lk_color_7 {
	color: #AF6025; 
}

.lk_color_12 {
	color: #FF8D00;
}

.lk_color_9 {
	color: #3838F5;
}

.lk_bg_9 {
	background: #3838F5;
}

.lk_color_30 {
	color: #7C5804;
}

.lk_color_10 {
	color: #BA1519;
    
}

.lk_color_11 {
	color: #1AAA42;
}

.lk_bg_11 {
	background: #1AAA42;
}

.lk_color_13 {
	color: #808080;
}

.lk_color_31 {
	color: #B54BFF;
}

.lk_color_20 {
	color: #CB7474;
}

.lk_color_21 {
	color: #1533FF;
}

.lk_color_22 {
	color: #B2B222;
}

.lk_color_23 {
	color: #8C785A;
    
}

.lk_color_24 {
	color: #B00070;
}

.lk_color_25 {
	color: #000000;
}

.lk_color_26 {
	color: #FF80AB;
    
}

.lk_color_27 {
	color: #546E7A;
    
}

.lk_color_28 {
	color: #FF6F00;
    
}

.lk_color_29 {
	color: #880E4F;
}

.lk_color_32 {
	color: #028081;
    
}

.lk_color_19 {
	color: #0CBD00;
    
}

.lk_color_2 {
	color: #61AB00;
    
}

.lk_color_14 {
	color: #6AC7E6;
}

.lk_color_15 {
	color: #1D8421;
    
}

.lk_color_16 {
	color: #CE0000;
}

.lk_bg_16 {
	background: #CE0000;
}

.lk_color_17 {
	color: #7A0098;
}

.lk_color_18 {
	color: #5E5E5E;
    
}

.lk_color_1 {
	color: #7986CB;
}

.ru-poe,
.en-poe {
	color: #FBAD8C;
}